---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import FeaturedProjects from '../components/sections/FeaturedProjects.astro';
import LatestPosts from '../components/sections/LatestPosts.astro';
---

<Layout title="Bill Kamanzi - Data Analyst, Developer, and Tech Enthusiast">
  <div class="pt-16 bg-primary-50">
    <Hero />
    <FeaturedProjects />
    <LatestPosts />
  </div>
</Layout>